@import url('https://fonts.googleapis.com/css2?family=outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #5F6FFF;
  --color-hero: #727cf5;
  --gridTemplateColumns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

*{
  font-family: Inter, sans-serif;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}