@import "tailwindcss";

@theme {
  --color-primary: #5F6FFF;
  --color-hero: #727cf5;
  --gridTemplateColumns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}